*.o
*.o.d
*.so
*.a
*.aab
*.aar
*.ap_
*.apk
bin/
/build
build/
/captures
captures/
*.class
.cxx/
*.dex
.DS_Store
.externalNativeBuild
fastlane/Preview.html
fastlane/readme.md
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
freeline/
freeline_project_description.json
freeline.py
gen/
google-services.json
.gradle
.gradle/
*.hprof
.idea/
*.iml
*.jks
*.keystore
lint/generated/
lint/intermediates/
lint/outputs/
lint/reports/
lint/tmp/
/local.properties
local.properties
*.log
.navigation/
out/
proguard/
release/
vcs.xml
